.title-container {
  line-height: 2rem;
  margin-bottom: 2rem;
}

.home__title {
  margin-bottom: 0rem;
  font-weight: 300;
  text-align: center;
}

.home__subtitle {
  margin-bottom: 1rem;
  font-weight: 300;
}

.home__add-task__button {
  display: flex;
  justify-content: flex-end;
}

.task__items {
  list-style: none;
}

.task__item {
  padding: .5rem 1rem;
  margin-top: 24px;
  color: #4F4F4F;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: .2rem;
}

.task__item-title {
  font-weight: bold;
}

.task__item-priority-color {
  font-weight: bold;
}

.priority-high {
  color: rgb(255, 56, 56);
}

.priority-medium {
  color: rgb(253, 183, 51);
}

.priority-low {
  color: rgb(2, 228, 2);
}

.task__buttons {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.button {
  background-color: #051320;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.delete-button {
  background-color: rgb(255, 44, 44);
}